<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal website">
    <meta name="author" content="Khaled K. Shehada">
    <title>Khaled Shehada</title>
    <link href="../static/packages/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/resume.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../static/packages/fontawesome-free/css/all.min.css" rel="stylesheet">
  </head>

  <body id="page-top">
    <script src="../static/packages/jquery/jquery.min.js"></script>
    <script src="../static/packages/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/packages/jquery-easing/jquery.easing.min.js"></script>
    <script src="../static/js/resume.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Khaled Shehada</span>
        <span class="d-none d-lg-block">
          <img id='myImg' class="img-fluid img-profile rounded-circle mx-auto mb-2" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);width:150%;height:200%" src="../static/img/profile.jpg" alt="">
          <!-- The Modal -->
          <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
          </div>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#courses">Courses Taken</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="index.html#awards">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Blogs">Blogs</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="Blogs">
        <div class="my-auto" wid>
          <h1 class="mb-0">My
            <span class="text-primary">Blogs</span>
          </h1>
          <p> Not enough matrue, though!</p>
        </div>
      </section>

      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="Blogs">
        <div class="my-auto">
          <h2 class="mb-5">Life in Hell</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <p>Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that alksddfmkampqw mk; amkssak; mqw[r k[wqp ;alfm ask; [em [qw [wmq.</p>
                <p>Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that alksddfmkampqw mk; amkssak; mqw[r k[wqp ;alfm ask; [em [qw [wmq.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">31 Jan, 2019</span>
            </div>
          </div>

      </section>

      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="Blogs">
        <div class="my-auto">
          <h2 class="mb-5">Life in Hell</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <p>Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that alksddfmkampqw mk; amkssak; mqw[r k[wqp ;alfm ask; [em [qw [wmq.</p>
                <p>Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that Using computer vision to build tools that alksddfmkampqw mk; amkssak; mqw[r k[wqp ;alfm ask; [em [qw [wmq.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">31 Jan, 2019</span>
            </div>
          </div>

      </section>

      <hr class="m-0">



    </div>
  </body>

</html>
